wp-cli core is-installed --path=/workspace/wp/{{getenv "item"}}
NEEDS_INSTALL=$?

if [ "${NEEDS_INSTALL}" == "1" ]; then
    wp-cli core install \
        --path=/workspace/wp/{{getenv "item"}} \
        --title="{{getv "/options/title" }}" \
        --url=http://localhost \
        --admin_name="${ADMIN_NAME}" \
        --admin_email="${ADMIN_EMAIL}" \
        --admin_password="${ADMIN_PASSWORD}"

else
    echo "Success: WP is already installed for {{getenv "item"}}"
fi

